<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
 
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

<script type="text/javascript">
  
  function matEfec() {
  var vic = document.getElementById('doge');
  var close = vic.childNodes[1];
  var max = vic.childNodes[3];
  
  close.addEventListener('click', function() {
  close.style.display="none";
  max.style.display="none";
  font.style.display="none";
  var d = close.parentNode;
  d.setAttribute(attr="class", 'close');
  
  var ico = document.getElementById('ico');
  ico.style.fontSize="0em";
  });
  
  max.addEventListener('click', function() {
  if (vic.hasAttribute(attr="class", 'max-size') == true) {

	max.className="icon-expand2";
	var d = max.parentNode;
	d.removeAttribute(attr="class", 'max-size');
	
	var font = document.getElementById('font');
	font.style.display="none";
	
  } else {
  
	max.className="icon-contract2";
	var d = max.parentNode;
	d.setAttribute(attr="class", 'max-size');
  
	var font = document.getElementById('font');
	font.style.display="block";
  }
  });
  }
  
</script>
  
  </head>
