<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
 
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

<script type="text/javascript">
  
function matEfec() {
  var vic = document.getElementById('doge');
  var close = vic.childNodes[1]; // icon-close
  // var max = vic.childNodes[3]; // icon-expand2
  var bexpand = document.getElementById('b-exp');
  var wexpand = document.getElementById('w-exp');
  var appElem = document.getElementById('appendElem');
  
	if (appendElem.clientHeight > 264) {
		doge.style.height="auto";
	} else {
		doge.style.height="inherit";
	}
  
  close.addEventListener('click', function() {
	close.style.display="none";
	appElem.style.display="none";
	vic.removeAttribute(attr="class", 'max-size');
  }, false);
  
  bexpand.addEventListener('click', function() {
		
		appElem.style.display="block";
		close.style.display="block";
		var blogElem = "<ul class='post-list'>{% for post in site.posts %}<li><span class='post-meta'>{{ post.date | date: '%b %-d, %Y' }}</span><h2><a class='post-link' href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a></h2></li>{% endfor %}</ul>";
		appendElem.innerHTML = blogElem;
		vic.className = "max-size";
  });
  
   wexpand.addEventListener('click', function() {
		
		appElem.style.display="block";
		close.style.display="block";
		var workElem = "<div  class='append-display'><h2>Email Templates</h2><img width='128' src='http://s21.postimg.org/ct131jr0j/Browser_Testing.png'/></div>";
		appendElem.innerHTML = workElem;
		vic.className = "max-size";
  });
}
  
function scrollTo(element, to, duration) {
    if (duration < 0) return;
    var difference = to - element.scrollTop;
    var perTick = difference / duration * 10;

    setTimeout(function() {
        element.scrollTop = element.scrollTop + perTick;
        if (element.scrollTop === to) return;
        scrollTo(element, to, duration - 10);
    }, 10);
}
  
</script>
  
  </head>
