/**
 * Site header
 */

.site-header {
    min-height: 56px;
	background: transparent;
	
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header:hover {
	.site-title, .page-link {
		color: #576474;
	}
}

.intro {
	width: 100%;
	padding: 2em 0 6em 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background: transparent;
	background-size: 100% auto;
}

.intro-cont {
    width: calc(800px - 30px * 2);
    width: -webkit-calc(800px - 30px * 2);
	margin: 0px auto;
	position: relative;
	display: table;
}

.intro-m {
	line-height: initial;
	& h1 {
		line-height: initial;
	}
}

.appElem {
	padding: 2em 2em 0;
}

.close {
	height: 0em !important;
	border: 0px !important;
}

.hideme {display: none;}

@keyframes doge {
	10% {
		font-size: 1rem;
	};
	50% {
		font-size: 2.5rem;
	};
	100% {
		font-size: 5rem;
	};
}

.intro h1 {
	font-size: 5rem;
	font-weight: 300;
	color: #565656;
	margin: 0;
}

.intro p {
	font-size: 1rem;
}

.intro a {
	padding: 0.5em 1em;
	font-size: 0.8em;
	font-family: "Montserrat",sans-serif;
	color: #B4B4B4;
	text-transform: uppercase;
	border-radius: 0.3em;
	background-color: rgb(234, 234, 234);
	margin: 0.3em 0.2em 0px;
}

.intro a:hover {
	text-decoration: none;
	background-color: #b4b4b4;
	color: #FFFFFF;
}

.max-size {
	height: 17em !important;
	border: 1px solid #dddddd !important;
	border-radius: 0.5em;
	box-shadow: 0px 0px 10px #dddddd;
}

#doge {
	overflow: hidden;
    background-color: #FFF;
    border-radius: 0.5em;
    position: absolute;
    width: calc(800px - 30px * 2);
    width: -webkit-calc(800px - 30px * 2);
    border: 1px solid rgb(255, 255, 255);
    bottom: -7.1em;
    border: 1px solid #dddddd;
    height: 4em;
	transition: all 0.5s ease-out;
	
	& .icon-close, .icon-expand2 {
		background-color: #DDD;
		border-radius: 50%;
		border: 1px solid #b4b4b4;
		margin: 1em 1em 0px 0px;
		position: absolute;
		top: 0px;
		right: 0px;
			font-size: 9px;
		text-align: center;
		padding: 6px 6px 6px 6px;
		color: #777777;
	}
	& .icon-close {
		display: none;
	}
	& .icon-close:hover, .icon-expand2:hover {
		cursor: pointer;
		background-color: #555555;
		color: #FFFFFF;
	}
}

.icon-fire {
	transition: all 0.5s cubic-bezier(0.48,0.49,0.48,0.49) 0s;
	font-size: 4em;
	color: #b4b4b4;
	animation: 2s linear infinite fire;
}

@keyframes fire {
	10% {
		color: #E4E40E;
	};
	50% {
		color: #b4b4b4;
	};
	100% {
		color: #b4b4b4;
	};
}

.home {
	text-align: center;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #b4b4b4;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #b4b4b4;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
		
		// Icons
		&:nth-child(1):before {
			content: "\e674";
			margin-right: 0.3em;
		}

		&:nth-child(2):before {
			content: "\e60a";
			margin-right: 0.3em;
		}		

		&:nth-child(3):before {
			content: "\e75c";
			margin-right: 0.3em;
		}		
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
		vertical-align: top;
		width: 33%;
		display: inline-block;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
	padding: 0 $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
	padding: 0 $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
