/**
 * Site header
 */

.site-header {
    min-height: 56px;
	background-color: rgba(255, 255, 255, 0.5);
	
    // Positioning context for the mobile navigation icon
    position: relative;
}

.intro {
	width: 100%;
	padding: 2em 0 0;
	text-align: center;
	
	& h1 {
	color: #9C9C9C;
	font-family: 'Dancing Script', 'Bickley Script LET', Lucida Handwriting;
	font-weight: bold;
	margin: 0em 0px 0px;
	text-shadow: 0.5px 1px 1px #575757;
	font-size: 6.5em;
	}

	& p {
	font-size: 1em;
	color: #999999;
	}

	& p a {
	color: #535353;
	border-bottom: 2px solid #b7b7b7;
	}
	
	@include media-query($on-palm) {
		& p {
			font-size: 0.9em;
		}
	}
}

.intro-cont {
    width: calc(800px - 30px * 2);
    width: -webkit-calc(800px - 30px * 2);
	height: 19em;
	margin: 0px auto;
	position: relative;
	display: table;
	
	& p, & a, .append-display {
	font-family: "Montserrat",sans-serif;
	}

	& .btn-b {margin: 0 0 0 0.3em;}

	& .btn-w, .btn-b {
		color: #9C9C9C !important;
		border-radius: 0.5em;
		border: 2px solid #9C9C9C;
		padding: 0.5em 1.8em;
		text-transform: uppercase;
		font-size: 0.77em;
	}

	& .btn-w:hover, .btn-b:Hover {
		background-color: #f0f0f0;
		color: #777 !important;
	}
	
	@include media-query($on-palm) {
		width: auto;
		
		& .btn-w, .btn-b {
			font-size: 0.7em;
		}
	}
}

.intro-m {
	line-height: initial;
	& h1 {
		line-height: initial;
	}
}

.appElem {
	padding: 1.5em;
	display: none;
}

.close {
	height: 0em !important;
	border: 0px !important;
}

.hideme {display: none;}

.max-size {
	border: 1px solid #DDD !important;
	box-shadow: 0px 0px 10px #DDD;
	height: 14.5em !important;
	padding: 0px !important;
	width: calc(100% - (0px / 2)) !important;
	background-color: rgb(255, 255, 255) !important;
	bottom: 0px !important;
	animation: none !important;
}

#doge {
	overflow: hidden;
	background-color: #b4b4b4;
	border-radius: 0.5em;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	position: absolute;
	border: 1px solid #DDD;
	-webkit-transition: all 0.5s ease-out 0s;
	-moz-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
	height: 0.5em;
	bottom: 1.7em;
	width: 18.5em;
	
	& .icon-close, .icon-expand2 {
		border-radius: 50%;
		border: 2px solid #b4b4b4;
		margin: 1em 1em 0px 0px;
		position: absolute;
		top: 0px;
		right: 0px;
		font-size: 9px;
		text-align: center;
		padding: 6px 6px 6px 6px;
		color: #b4b4b4;
	}
	& .icon-close {
		display: none;
	}
	& .icon-close:hover, .icon-expand2:hover {
		cursor: pointer;
		background-color: #b4b4b4;
		color: #FFFFFF;
	}
	
	@include media-query($on-palm) {
		width: 16.5em;
		overflow-y: scroll;
	}
}

.icon-fire {
	-webkit-transition: all 0.5s cubic-bezier(0.48,0.49,0.48,0.49) 0s;
	transition: all 0.5s cubic-bezier(0.48,0.49,0.48,0.49) 0s;
	font-size: 4em;
	color: #b4b4b4;
	text-shadow: 2px 2px 5px yellow;
	background-color: transparent !important;
	animation: 2s linear infinite fire;
	-webkit-animation: 2s linear infinite fire;
}

@-webkit-keyframes fire {
	10% {
		color: yellow;
		text-shadow: 0px 0px 10px yellow;
	};
	100% {
		color: #b4b4b4;
		text-shadow: 2px 2px 5px yellow;
	};
}

@keyframes fire {
	10% {
		color: yellow;
		text-shadow: 0px 0px 10px yellow;
	};
	100% {
		color: #b4b4b4;
		text-shadow: 2px 2px 5px yellow;
	};
}

.site-title {
	font-size: 26px;
	line-height: 56px;
	font-weight: 700;
	letter-spacing: -2px;
	font-family: Open Sans;
	
	span {
		color: #ccc;
		font-size: 15px;
		letter-spacing: 0px;
		font-weight: 600;
		margin-left: 0.2em;
		line-height: 0;
		display: none;
	}
	
    &,
    &:visited {
        color: #b4b4b4;
    }
	
	&:hover {
		
		& span {
			display: inline;
		}
	}
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {

}

.footer-info {
	text-align: center;
	display: table;
	margin: 0px auto;
	
	& p {
		margin: 0px 0 0.5em;
		font-size: 0.8em;
		color: #777;
		width: 27em;
		
		& a {
			color: #473F80;
		}
		& a:hover {
			opacity: 0.8;
		}
	}
	
	/*
	& .link {
		color: #b4b4b4;
		border-right: 1px solid #ccc;
		padding: 0 0.5em;
		line-height: 0.2;
		font-size: 0.8em;
	}
	
	& .link:nth-child(3) {
		border: none;
	}
	*/
	
	& .social {
		font-size: 1.3em;
		line-height: 2em;
		color: #b4b4b4;
	}
	
	& .social:hover {
		color: #A1A1A1;
	}
	
	& .social:not(:first-child) {
		margin-left: 0.2em;
	}
	
	@include media-query($on-palm) {
		& p {
			width: 21.5em;
		}
	}
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
 	> div {
		margin-bottom: 0.9em;
	}
}
 
.page-heading {
    font-size: 20px;
}

.page-link {
	line-height: 1.5;
	font-size: 0.8em;
	border-radius: 0.5em;
	font-family: open sans;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0.3em 1em;
	box-shadow: 0px 0px 3px rgb(234, 234, 234);
	
	&:visited {
		color: #FFFFFF;
	}
	
	// Pagination styling
	&:nth-child(1) {
		color: #FFFFFF;
		background-color: #b4b4b4;
	}
	
	&:nth-child(2) {
		color: #FFFFFF;
		background-color: #ddd;
	}
	
	&:nth-child(n+3) {
		display: none;
	}
	
	// Pages hover
	&:hover {
		&:nth-child(1) {
			background-color: #ddd;
			color: #b4b4b4;
		}
		
		&:nth-child(2) {
			color: #b4b4b4;
		}
	}

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
        margin-left: 0.5em;
    }
}

/**
 * Posts
 */
 
.post {
	box-shadow: 0px 0px 3px #ddd;
	padding: 1.5em 0px;
	background-color: #fff;
	
	.post-share {
		text-align: center;
		padding: 1em 22px 0;
		border-top: 1px solid #dddddd;
		
		a:nth-child(1):before {
			content: "\e769";
			font-family: icomoon;
		}
		
		a:nth-child(2):before {
			content: "\e76d";
			font-family: icomoon;
		}
		
		a:nth-child(3):before {
			content: "\e764";
			font-family: icomoon;
		}
		
		a:before {
			margin-right: 0.3em;
			vertical-align: baseline;
		}
		
		a:not(:first-child) {
			margin-left: 0.5em;
		}
		
		a {
			font-size: 0.8em;
			border: 1px solid #b4b4b4;
			color: #b4b4b4;
			border-radius: 0.9em;
			padding: 0.2em 1em;
			transition: 0.2s ease-out;
		}
		
		a:hover {
			border-color: #555555;
			color: #555555;
		}
		
		@include media-query($on-laptop) {
			font-size: 0.8em;
		}
	}
}
 
.post-header {
    margin-bottom: $spacing-unit;
	padding: 0 $spacing-unit;
}

.post-title {
	text-align: center;
    font-size: 3em;
    letter-spacing: -1px;
    line-height: 1;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-list {
    margin: 0;
	padding: 0;
    list-style: none;
	text-align: center;
	font-family: "Montserrat",sans-serif;
	
    & li {
		vertical-align: top;
		width: 26%;
		display: inline-table;
		background-color: #F0F0F0;
		border-radius: 0.5em;
		padding: 1em;
		text-align: center;
		box-shadow: 0.5px 1px 0.5px rgb(180, 180, 180);
		color: #b4b4b4;
		height: 9.5em;
    }
	& li > .valign {
		display: table-cell;
		vertical-align: middle;
	}
	& li:not(:nth-child(0)) {
		margin-left: 1em;
	}
	& li:hover {
		background-color: #f5f5f5;
		color: #777777;
		cursor: pointer;
	}
	& h2 {
		margin-bottom: 0;
		font-size: 1.2em;
	}
	
	@include media-query($on-laptop) {
		& li {
			width: 83%;
		}
		li {
			margin-top: 1em;
			margin-left: 0 !important;
		}
	}
}

.post-meta {
    color: $grey-color;
	text-align: center;
}

.post-meta:before {
	font-family: icomoon;
	content: "\e650";
	margin-right: 0.4em;
	font-size: 12px;
}

.post-link {
    display: block;
    font-size: 1em;
	color: inherit !important;
}

.post-content {
	padding: 0 1.5em;
}

.rss-subscribe {
	margin: 1em 0 0;
	text-align: center;
	
	& a {
		color: #473F80;
	}
	& a:hover {
		opacity: 0.8;
	}
}