/**
 * Site header
 */

.site-header {
    min-height: 56px;
	background-color: #fff;
	
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-header:hover {
	.site-title, .page-link {
		color: #576474;
	}
}

.intro {
	width: 100%;
	padding: 2em 0 5em 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	border-bottom: 1px solid #dddddd;
	background: url('') #ecf0f1;
	background-size: 100% auto;
}

.intro div {
	max-width: calc(800px - 30px * 2);
	margin: 0 auto;
	position: relative;
}

.intro h1 {
	font-size: 5rem;
	font-weight: 300;
	color: #565656;
	margin: 0;
}

.intro p {
	font-size: 1rem;
	padding: 0;
}

.intro a {
	padding: 0.5em 1em;
	margin: 0 0.2em;
	font-size: 0.8em;
	font-family: 'Montserrat', sans-serif;
	color: #b4b4b4;
	text-transform: uppercase;
	border: 2px solid #b4b4b4;
	border-radius: 0.3em;
}

.intro a:hover {
	text-decoration: none;
	background-color: #b4b4b4;
	color: #FFFFFF;
}

.intro div:after {
    content: " ";
    background-color: #FFF;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    position: absolute;
    width: 800px;
    border: 1px solid rgb(255, 255, 255);
    bottom: 0;
    margin: 0 0 -5.1em -33.6em;
    border-top: 1px solid #dddddd;
    padding: 2em 1em 1em 1em;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.main-container span {
	font-size: 10em;
	color: #b4b4b4;
}

.main-container span:hover {
	color: #333333;
}

.home {
	text-align: center;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: #b4b4b4;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #b4b4b4;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
		
		&:nth-child(1):before {
			content: "\e674";
			margin-right: 0.2em;
		}

		&:nth-child(2):before {
			content: "\e60a";
			margin-right: 0.2em;
		}		

		&:nth-child(3):before {
			content: "\e75c";
			margin-right: 0.2em;
		}		
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
