---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  <div class="post-share">
    <a onclick="window.open(this.href, '_blank', 'height=300,width=500'); return false;" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ page.url }}">facebook</a>
    <a onclick="window.open(this.href, '_blank', 'height=300,width=500'); return false;" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url }}&via=Front End Designer">twitter</a>
    <a onclick="window.open(this.href, '_blank', 'height=300,width=500'); return false;" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">google+</a>
  </div>

</div>
